<flexi-grid
  [showCaption]="true"
  [captionTitle]="pageTitle()"
  [data]="data()"
  [total]="totalCount()"
  [loading]="loading()"
  [dataBinding]="true"
  (dataStateChange)="dataStateChange($event)"
  [showExportExcelBtn]="true"
  [exportExcelFileName]="pageTitle()"
  [customColumns]="columns()"
  [commandColumnWidth]="commandColumnWidth()"
  [showIndex]="showIndex()"
>
  <ng-template flexiGridCaptionCommandTemplate>
    @if(commandTemplateRef() !==undefined){
    <ng-container *ngTemplateOutlet="commandTemplateRef()!;"></ng-container>
    } @if(checkPermission(permissionCreate())){
    <flexi-button
      btnColor="primary"
      btnIcon="add"
      title="Add"
      flexiTooltip
      [routerLink]="['',endpointEntityName(),'add']"
    />
    }
  </ng-template>
  <ng-content />
  @if(showAuditInfos()){ @if(showIsActive()){

  <flexi-grid-column
    textAlign="center"
    field="isActive"
    title="Active"
    filterType="boolean"
    [booleanData]="['Active','Inactive'] "
  />
  }
  <flexi-grid-column field="createdFullName" title="Created By" />
  <flexi-grid-column
    field="createdAt"
    title="Created At"
    filterType="date"
    format="dd MMM yyyy HH:mm:ss"
  />
  <flexi-grid-column field="updatedFullName" title="Updated By">
    <ng-template flexiGridCellTemplate let-item>
      @if(item.updatedFullName){ {{item.updatedFullName}} }@else {
      <i style="opacity: 50%">No Update yet</i>
      }
    </ng-template>
  </flexi-grid-column>
  <flexi-grid-column
    field="updatedAt"
    title="Updated At"
    filterType="date"
    format="dd MMM yyyy HH:mm:ss"
  >
    <ng-template flexiGridCellTemplate let-item>
      @if(item.updatedAt!==null){ {{item.updatedAt}} }@else {
      <i style="opacity: 50%">No Update yet</i>
      }
    </ng-template>
  </flexi-grid-column>
  }
  <ng-template flexiGridColumnCommandTemplate let-item>
    @if(columnCommandTemplateRef() !==undefined){
    <ng-container
      *ngTemplateOutlet="columnCommandTemplateRef()!; context:{$implicit:item}"
    ></ng-container>
    } @if(checkPermission(permissionDetails())){
    <flexi-button
      btnColor="indigo"
      btnIcon="zoom_in"
      title="Details"
      btnSize="small"
      flexiTooltip
      [routerLink]="['',endpointEntityName(),'details',item.id]"
    />
    } @if(checkPermission(permissionEdit())){
    <flexi-button
      btnColor="info"
      btnIcon="edit"
      title="Edit"
      btnSize="small"
      flexiTooltip
      [routerLink]="['',endpointEntityName(),'edit',item.id]"
    />
    } @if(checkPermission(permissionDelete())){
    <flexi-button
      btnColor="danger"
      btnIcon="delete"
      title="Delete"
      btnSize="small"
      flexiTooltip
      (click)="delete(item.id)"
    />
    }
  </ng-template>
</flexi-grid>
