<flexi-grid
  [showCaption]="true"
  [captionTitle]="pageTitle()"
  [data]="data()"
  [total]="totalCount()"
  [loading]="loading()"
  [dataBinding]="true"
  (dataStateChange)="dataStateChange($event)"
  [showExportExcelBtn]="true"
  [exportExcelFileName]="pageTitle()"
  [customColumns]="columns()"
  [commandColumnWidth]="commandColumnWidth()"
  [showIndex]="showIndex()"
>
  <ng-template flexiGridCaptionCommandTemplate>
    @if(commandTemplateRef() !==undefined){
    <ng-container *ngTemplateOutlet="commandTemplateRef()!;"></ng-container>
    }
    <flexi-button
      [routerLink]="['/',endpointEntityName(),'add']"
      btnColor="primary"
      btnIcon="add"
      title="Add Branch"
      flexiTooltip
    />
  </ng-template>
  <ng-content />
  <flexi-grid-column field="address.email" title="Branch contact email" />
  @if(showAuditInfos()){

  <flexi-grid-column
    textAlign="center"
    field="isActive"
    title="Active"
    filterType="boolean"
    [booleanData]="['Active','Inactive'] "
  />
  <flexi-grid-column field="createdFullName" title="Created By" />
  <flexi-grid-column
    field="createdAt"
    title="Created At"
    filterType="date"
    format="dd MMM yyyy HH:mm:ss"
  />
  <flexi-grid-column field="updatedFullName" title="Updated By">
    <ng-template flexiGridCellTemplate let-item>
      @if(item.updatedFullName!==null){ {{item.updatedFullName}} }@else {
      <span style="font-style: italic; font-weight: bold">No Update yet</span>
      }
    </ng-template>
  </flexi-grid-column>
  <flexi-grid-column
    field="updatedAt"
    title="Updated At"
    filterType="date"
    format="dd MMM yyyy HH:mm:ss"
  >
    <ng-template flexiGridCellTemplate let-item>
      @if(item.updatedAt!==null){ {{item.updatedAt}} }@else {
      <span style="font-style: italic; font-weight: bold">No Update yet</span>
      }
    </ng-template>
  </flexi-grid-column>
  }
  <ng-template flexiGridColumnCommandTemplate let-item>
    <flexi-button
      [routerLink]="['/',endpointEntityName(),'details',item.id]"
      btnIcon="zoom_in"
      btnColor="secondary"
      btnSize="x-small"
      title="Details"
      flexiTooltip
    />
    <flexi-button
      [routerLink]="['/',endpointEntityName(),'edit',item.id]"
      btnIcon="edit"
      btnColor="info"
      btnSize="x-small"
      title="Edit"
      flexiTooltip
    />
    <flexi-button
      (click)="delete(item.id)"
      btnIcon="delete"
      btnColor="danger"
      btnSize="x-small"
      title="Remove"
      flexiTooltip
    />
    @if(columnCommandTemplateRef() !==undefined){
    <ng-container
      *ngTemplateOutlet="columnCommandTemplateRef()!; context:{$implicit:item}"
    ></ng-container>
    }
  </ng-template>
</flexi-grid>
